.todo-list {
    list-style: none;

    &__item {
        position: relative;
        padding: 7px 60px 7px 7px;
        background-color: rgb(55, 55, 55);
        animation: todoAddAnimation 0.5s ease-in-out;
        margin-bottom: 15px;

        &-title {
            font-size: 1.25rem;
            margin-bottom: 0.3em;
            text-align: start;
            line-height: 100%;
            word-wrap: break-word;
        }

        &-line {
            width: 100%;
            border: none;
            height: 0;
            outline: none;
            border-top: 1px solid #fff;
        }

        &-text {
            width: 100%;
            max-width: 100%;
            word-wrap: break-word;
        }

        &-time, &-button {
            position: absolute;
            right: 10px;
        }

        &-button {
            background: none;
            border: none;
            cursor: pointer;
            top: 30px;
            transition: 0.2s;

            &:hover {
                transform: scale(1.11);
            }
            &:active {
                transform: scale(0.9);
            }
        }

        &-time {
            top: 5px;
        }
    }
}

.delete {
    animation: todoDeleteAnimation  0.5s ease-in-out;
}

@keyframes todoAddAnimation {
    0% { left: -100%; opacity: 0;}
    100% { left: 0; opacity: 1;}
}

@keyframes todoDeleteAnimation {
    0% { left: 0; opacity: 1;}
    100% { left: -100%; opacity: 0;}
}
