@import '../../style/variables/variable.scss';

.header {
    width: 100%;
    padding: 5px 0px;
    background-color: $green;
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        // color: $header-color-light;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}