.calendar-page {
    padding-bottom: 80px;
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 1020px) {
    .calendar-page {
        flex-direction: column;
    }    
}
