@import '../../style/variables/variable.scss';

.todo-list-header {

    background-color: $green;
    border: 1px solid black;
    text-align: center;
    color: rgb(230, 230, 230);
    padding: 7px;
    margin-bottom: 30px;
}