.todo-page {
    padding-bottom: 30px;
    padding-top: 30px;
    &__container {
        display: flex;
        justify-content: space-between;

    }

    &__column {
        width: calc(70% - 15px);
        margin-right: 30px;
    }
}

@media (max-width: 700px) {
    .todo-page {
        &__column {
            width: 100%
        }
        &__container {
            flex-direction: column;
        }
    }

    .add-todo {
        &__form {
            width: 100%;
        }
    }
}