.last-todos {
    padding: 0 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
    }

    &__item {
        margin-top: 12px;
    }

    &__date {
        font-size: 0.825rem;
        line-height: 100%;
    }

    &__text {
        font-size: 1.25rem;
        line-height: 100%
    }
}

@media (max-width: 530px) {
    .last-todos {
        &__title {
            font-size: 1.5rem;
        }
    }

    &__text {
        font-size: 1rem;
    }

    &__date {
        font-size: 0.7rem;
    }
}

@media (max-width: 395px) {
    .last-todos {
        &__title {
            font-size: 1.2rem;
        }
    }

    &__text {
        font-size: 0.95rem;
    }

    &__date {
        font-size: 0.65rem;
    }
}